.testimonial {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  h3 {
    text-align: center;
  }

  &-content {
    justify-content: space-between;
    align-items: flex-start;

    &-left {
      max-width: 60rem;
      margin-right: 2rem;

      p {
        width: 85%;
        margin: 1.5rem 0;
      }
    }

    &-right {
      position: relative;
      max-width: 50rem;
      min-height: 20rem;
      padding: 2rem;
      box-shadow: rgba(0,0,0,.12) 0px 1px 3px, rgba(0,0,0,.24) 0px 1px 2px;
      overflow-x: hidden;

      .slider {
        min-width: 200rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        transition: .4s ease;
      }

      &_box {
        max-width: 48rem;
        min-height: 15rem;
        padding-right: .3rem;

        .para {
          width: 100%;
        }

        article {
          margin-top: 3rem;
          align-items: flex-start;

          img {
            margin-right: 1.5rem;
            width: 6rem;
            height: 6rem;
            object-fit: cover;
            border-radius: 50%;
            filter: drop-shadow(2px 2px 1px #585858);
          }

          div {
            .name {
              font-weight: bold;
              font-size: 1.3rem;
              letter-spacing: .1rem;
            }

            .course {
              font-style: italic;
              font-size: 1.1rem;
            }
          }
        }
      }

      .slider-content {
        margin-top: 2rem;

        &_btn {
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          margin-right: 1rem;
          background: var(--sec-color);
          border: none;
          cursor: pointer;

          &:focus {
            background: var(--pry-color);
          }
        }
      }
    }
  }
}

// MEDIA
@media screen and (max-width: 1090px) {
  .testimonial {
    &-content {
      &-left {
        p {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .testimonial {
    &-content {
      flex-direction: column;
      align-items: center;
      padding-bottom: 1.5rem;

      &-left {
        width: 85%;
        margin-right: 0;
        margin-bottom: 3rem;
        text-align: center;

        p br {
          display: none;
        }
      }

      &-right {
        width: 70vw;

        .slider {
          min-width: 280vw;
        }

        &_box {
          width: 67vw;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .testimonial {
    &-content {
      &-left {
        width: 100%;
      }

      &-right {
        width: 85vw;

        &_box {
          width: 81vw;
        }
      }

      .slider {
        min-width: 360vw;
      }
    }
  }
}