.logo {
  text-align: center;
  cursor: pointer;

  & span:nth-child(1) {
    display: inline-block;
    color: var(--white);
    background: var(--pry-color);
    padding: .6rem;
    border-radius: 50%;
    margin-right: .5rem;
  }

  & span:nth-child(2) {
    font-size: 2rem;
    color: var(--pry-color);
    font-weight: bold;
  }
}