.footer {
  width: 100vw;
  margin: 0 auto;
  background: rgb(236, 217, 217);

  &-container {
    max-width: 136.6rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 0 0 2rem;

    &-left {
      max-width: 45rem;
      margin-bottom: 2rem;
      p {
        margin: 1.5rem 0;
      }

      &_socials {
        svg {
          display: inline-block;
          width: 2.5rem;
          height: 2.5rem;
          fill: var(--pry-color);

          &:nth-child(2) {
            margin: 0 1.5rem;
          }
        }
      }
    }

    &-right {
      align-items: flex-start;

      &_list {
        margin-right: 8rem;

        h4 {
          font-size: 1.8rem;
          color: var(--pry-color);
          margin-bottom: 1rem;
        }

        &-items {
          p {
            font-size: 1.5rem;
            margin-bottom: .5rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// MEDIA
@media screen and (max-width: 1090px) {
  .footer {
    &-container {
      &-right {
        &_list {
          margin-right: 4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 890px) {
  .footer {
    &-container {
      flex-direction: column;
      align-items: center;

      &-left {
        text-align: center;

        .logo {
          justify-content: center;
        }

        p br {
          display: none;
        }
      }

      &-right {
        width: 100%;
        justify-content: space-between;
        margin-top: 3rem;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .footer {
    &-container {
      &-left {
        max-width: 100%;
        text-align: start;

        .logo {
          justify-content: start;
        }
      }

      &-right {
        flex-direction: column;
        padding-bottom: 1rem;

        &_list {
          margin-bottom: 1rem;

          p {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}