@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: #b8b8b8;
  --dark-gray: #303030;
  --pry-color: #181886;
  --sec-color: #6060b3;
  --white: #ffffff;
  --dark: #1a1919;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
}

body {
  position: relative;
  line-height: 1.4;
  background: var(--white);
}

.container {
  max-width: 136.6rem;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: capitalize;
  color: var(--pry-color);
  margin-top: 1rem;
  letter-spacing: .1rem;
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--sec-color);
}

.para {
  font-size: 1.5rem;
  color: var(--dark-gray);
  margin-top: 1rem;
}

.flex {
  display: flex;
  align-items: center;
}

.row-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: .1rem;
  color: var(--pry-color);
  background: none;
  padding: 1rem 1.5rem;
  border-radius: .4rem;
  border: .2rem solid var(--pry-color);
  cursor: pointer;
}

.btn:hover {
  background: var(--pry-color);
  color: var(--white);
  transition: .4s ease;
}

.btn.bg {
  color: var(--white);
  background: var(--pry-color);
}

.btn.bg:hover {
  color: var(--pry-color);
  background: none;
}